@main-color: #E91E63;
@title-color: #949494;
@subtitle-color: #FFFFFF;
@type-normal: #8a8a59;
@type-fire: #f08030;
@type-water: #6890f0;
@type-electric: #f8d030;
@type-grass: #97D077;
@type-ice: #98d8d8;
@type-fight: #c03028;
@type-poison: #a040a0;
@type-ground: #e0c068;
@type-fly: #a890f0;
@type-psy: #f85888;
@type-bug: #67AB9F;
@type-rock: #b8a038;
@type-ghost: #705898;
@type-dragon: #7038f8;
@type-fairy: #e898e8;
@type-steel: #b8b8d0;
@secundary-color: #949494;
@widthcol: 320px;
@padtop: 15px;
@padzero: 0px;
@item-background1: #f4f4f4;
@item-background2: #ededed;
@nothing: #000000;

@font-face {
    font-family: Helvetica;
    src: asset-url('/font/Helvetica.otf') format('opentype');
}

#normal, #fire,#water,#electric,#grass,#ice,#fighting,#poison,#ground,#flying,#psychic,#bug,#rock,#ghost,#dragon,#fairy,#steel{
    border-radius: 5px;
    margin-right: 6px;
    height: 27px;
    width: 60px;
    float:left;
    color: @subtitle-color;
    vertical-align: middle;
}
#normal{
    background-color: @type-normal;
}
#fire{
    background-color: @type-fire;
}
#water{
    background-color: @type-water;
}
#electric{
    background-color: @type-electric;
}
#grass{
    background-color: @type-grass;
}
#ice{
    background-color: @type-ice;
}
#fighting{
    background-color: @type-fight;
}
#poison{
    background-color:@type-poison;
}
#ground{
    background-color: @type-ground;
}
#flying{
    background-color: @type-fly;
}
#psychic{
    background-color: @type-psy;
}
#bug{
    background-color: @type-bug;
}
#rock{
    background-color: @type-rock;
}
#ghost{
    background-color: @type-ghost;
}
#dragon{
    background-color: @type-dragon;
}
#fairy{
    background-color: @type-fairy;
}
#steel{
    background-color: @type-steel;
}
#itemPokemon{
    border: 1px solid @secundary-color;
}
.tableFormat{
    padding-right: 0px;
    padding-left: 0px;
}
.searchFormat{
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.description{
    margin-right: 100px;
    color: @title-color;
    margin-bottom: 0px;
}
.evolutionName{
    float: right;

}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width: @widthcol;
}
.col-min {
    /* custom min width */
    min-width: @widthcol;
}
.col-max {
    /* custom max width */
    max-width: @widthcol;
}
.navbar{
    background-color: @main-color;
    margin-bottom: 0px;
    text-align: center;

}
.secundary{
    padding: @padtop 0px 0px 0px;
    text-align:left;
    background-color: @secundary-color;
    height: 50px;
}
.navbar-toggle{
    float: left;

}
.namePokemonTitleDesc{
    color: @main-color;
    width: 50%;
    float: left;
}
.actionbutton{
    float: right;
    border: none;
    background: none;
}
.namePokemonList{
    color: @nothing;
}
[class*="col-"] {
    background:@item-background1;
}
[class*="col-"]:before {
    display:block;
    position:relative;
    margin-bottom:8px;
    font-family:Helvetica;
    font-size:10px;
    letter-spacing:1px;
    text-align:left;
}
.item {
    width:100%;
    height:100%;
    padding:16px 8px;
    background:#ededed;
    background:-webkit-gradient(linear, left top, left bottom,color-stop(0%, @item-background1), color-stop(100%, @item-background2));
    background:-moz-linear-gradient(top, @item-background1 0%, @item-background2 100%);
    background:-ms-linear-gradient(top, @item-background1 0%, @item-background2 100%);
}

/* content styles */
.item {
    display:table;
}
.content {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height: 200px;
}
.content:before {
    font-family:Helvetica;
    font-size:12px;
    letter-spacing:1px;
    color:@main-color;
}
#special{
    float:right;
}
#wrapper.toggled #menu-toggle span:before {
    content:'\2212';
}

#dropdownlist {
    text-align: center;

}
#equalheight {
    overflow: hidden;
}
.equalline{
    margin-bottom: -99999px;
    padding-bottom: 99999px;


}
#itemList{
    color: @subtitle-color;


}

.buttonFormat{
    color: @nothing;
    border: none;
    background: none;

}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: darken(@main-color,30%);


}
/* visual styles */
body {
    padding-bottom:40px;
}
h1, h3{
    color: @subtitle-color;
    margin:20px 0px 20px 0px;
    line-height:20px;
    text-align:center;
}
h1{
    font-size:28px;
}
h3{
    font-size:22px;
}

