<!DOCTYPE html>
<html lang="en" ng-app="pokedex">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Pokedex</title>

    <!-- Bootstrap -->
    <link href="scripts\js\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet/less" href="styles/mycss.less" type="text/css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-inverse" ng-controller="NavBarController">
    <nav class="container-fluid">
        <nav class="navbar-header">
            <button ng-if="menu" type="button" class="navbar-toggle buttonFormat" data-toggle="collapse" data-target="#myNavbar">
                <div id ="navbar-icon">
                    <i class="glyphicon glyphicon-large glyphicon glyphicon-align-justify"></i>
                </div>

            </button>
            <a href="#Mainmenu"><button ng-if="!menu" type="button" class="navbar-toggle buttonFormat">
                <div id ="navbar-icon">
                    <i class="glyphicon glyphicon-large glyphicon glyphicon-chevron-left"></i>
                </div>
            </button></a>
            <h3><span ng-bind="pageTitle"></span></h3>
        </nav>
    </nav>
    <div ng-if="menu" class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav dropdownList">
            <li id="itemList">
                <a class="dropdown-toggle" href="#Mainmenu" >ALL POKEMON <span class="glyphicon glyphicon-chevron-right"></span></a>
            </li>
            <li id="itemList">
                <a href="#">CAUGHT POKEMON</a>
            </li>
            <li id="itemList">
                <a href="#">BATTLEBOX</a>
            </li>
        </ul>

    </div>
</nav>

<div ng-view></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="scripts\js\lib\jquery\dist\jquery.min.js"></script>
<script src="scripts\js\lib\less\dist\less.min.js" type="text/javascript"></script>
<script src="scripts\js\lib\angular\angular.js"></script>
<script src="scripts\js\lib\angular-route\angular-route.js"></script>
<script src="scripts\js\custom\animations.js"></script>
<script src="scripts\js\custom\main.js" type="text/javascript"></script>
<script src="scripts\js\lib\ngstorage\ngStorage.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="scripts\js\lib\bootstrap\dist\js\bootstrap.min.js"></script>
</body>
</html>