<div class="container-fluid">
    <div class="row">
        <div id="equalheight">
            <div class="col-xs-5 col-md-5 equalline">
                <img ng-src={{pokemon.icon}}  alt={{pokemon.name}} height="150px" width="150px" class="img-rounded"/>
            </div>
            <div class="col-xs-7 col-md-7 equalline">
                <div class="info">
                    <h4 class="namePokemonTitleDesc">#{{pokemon.id| listZeroes:3}} {{pokemon.name | capitalize}}</h4>
                    <button ng-click="addBattleBox(pokemon)" type="button" class="btn btn-default btn-sm actionbutton">
                        <img class="star"/></button>
                    <button ng-click="addCaught(pokemon)" type="button special" class="btn btn-default btn-sm actionbutton">
                        <img class="empty-plate"/></button>
                </div>
                <div>
                    <p class="description">{{pokemon.height/10}}m, {{pokemon.weight/10}}kg</p>
                </div>
                <br>
                <p>{{additionaldettails.flavor_text_entries[1].flavor_text}}</p>
                <br>
                <div class="pull-left" ng-repeat="type in pokemon.types">
                    <button type="button" class="btn btn-sm type" id={{type.type.name}}>{{type.type.name| capitalize}}</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div id="equalheight">
            <div class="col-xs-12 col-md-12 equalline"> <h3 class="secundary">General Information</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th class="description">Hidden Abilities:</th>
                        <td class="description" ng-repeat="abilities in pokemon.abilities">{{abilities.ability.name| capitalize | removeUnderScores}}</td>
                    </tr>
                    <tr>
                        <th class="description">Location:</th>
                        <td colspan="2" class="description" ng-if="!locationdata[0].location_area.name">Unknow location</td>
                        <td colspan="2" class="description">{{locationdata[0].location_area.name| capitalize | removeUnderScores}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="equalheight">
            <div class="col-xs-12 col-md-12 equalline"> <h3 class="secundary">Evolution</h3>
                <table class="table">
                    <tbody>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>