
<div>
    <div class="col-xs-12 col-md-12 tableFormat">
        <div class="input-group searchFormat" >
            <input type="text" ng-model="searchString" class="form-control" placeholder="Search...">
            <div class="input-group-btn">
                <button id="OrderToggle" class="btn btn-default buttonFormat" ng-click="changeOrder()" type="submit" >
                    <img class="filter-results-button"></img>
                </button>
            </div>
        </div>
        <div class="panel panel-default" id="itemPokemon">
            <table class="table">
                <tbody>
                <tr class="row" ng-repeat="pokemon in publist | searchName:searchString | orderBy:'id':order" ng-click="selectedPokemon(pokemon); selectedDetail(pokemon.id-1); selectedLocation(pokemon.id-1); selectedEvolution(pokemon.id-1);">
                    <td class="col-xs-3" ><a href="#Description">
                        <img ng-src={{pokemon.icon}} alt={{pokemon.name}} height="100px" width="100px" class="img-thumbnail">
                    </td></a>
                    <td class="col-xs-6"><a href="#Description">
                        <div class="namePokemonList">
                            {{pokemon.name| capitalize}}
                        </div>
                        <br>
                        <div class="pull-left" ng-repeat="type in pokemon.types">
                            <button type="button" class="btn btn-sm type" id={{type.type.name}}>{{type.type.name| capitalize}}</button>
                        </div>
                    </td></a>
                    <td class="col-xs-3 text-nowrap" ng-click="$event.stopPropagation()">
                        #{{pokemon.id | listZeroes:3}}<br>
                        <div>
                            <button type="button" class="btn btn-default btn-sm actionbutton">
                                <img class="star"/></button>
                            <button type="button special" class="btn btn-default btn-sm actionbutton">
                                <img class="empty-plate"/></button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
