
<div ng-controller="MainMenuController">
    <div class="input-group" >
        <input type="text" ng-model="searchString" class="form-control" placeholder="Search...">
        <div class="input-group-btn">
            <button id="OrderToggle" class="btn btn-default" ng-click="changeOrder()" type="submit">
                <div id ="navbar-sort">
                    <span class ="glyphicon glyphicon-sort-by-order" ></span>
                </div>
                <div id="navbar-alt" class="hidden" >
                    <span class="glyphicon glyphicon-sort-by-order-alt" ></span>
                </div>
            </button>
        </div>
    </div>

    <br>
    <a href="#Description">
        <div class="row" ng-repeat="pokemon in publist | searchName:searchString | orderBy:'id':order">
            <div class="col-xs-12 col-md-12">
                <div class="row" ng-click="selectedPokemon(pokemon)" a href="#Description">
                    <div class="col-xs-9">
                        <img ng-src={{pokemon.icon}} alt={{pokemon.name}} height="100px" width="100px" class="img-thumbnail">
                        {{pokemon.name| capitalize}}<br>
                        <div class="pull-left" ng-repeat="type in pokemon.types">
                            <button type="button" class="btn btn-sm type" id={{type.type.name}}>{{type.type.name| capitalize}}</button>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <kbd>#{{pokemon.id}}</kbd>
                    </div>
                </div>
            </div>
        </div>
    </a>

</div>
